name: Deploy to Nomad

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0'

      - name: Publish Project
        run: dotnet publish Proxy.DataService -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true -o ./publish

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build and Push Docker Image
        run: |
          IMAGE_NAME=ramidahadov/proxy-app
          IMAGE_TAG=latest
          docker build -t $IMAGE_NAME .
          docker tag $IMAGE_NAME $IMAGE_NAME:$IMAGE_TAG
          docker push $IMAGE_NAME:$IMAGE_TAG

  deploy:
    runs-on: self-hosted
    needs: build

    steps:
      - name: Deploy to Nomad
        run: |
          export NOMAD_TOKEN=${{ secrets.NOMAD_TOKEN }}
          nomad job stop -namespace=application proxy-dataservice || true
          nomad job run /tmp/proxy-dataservice/proxy-dataservice.nomad
  